html {
  height: 100vh;
  background-color: antiquewhite;
  color: white;
  font-family: Georgia, "Times New Roman", Times, serif;
  padding: 0;
  margin: 0;
}

h1 {
  color: black;
}

.content {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 10rem;
  margin-left: 5rem;
  margin-right: 5rem;
}

.submitBtn {
  background-color: #d3a52e;
  border: 1px solid #d3a52e;
  color: black;
  width: 5rem;
  display: grid;
  grid-column: span 2;
  font-family: Georgia, "Times New Roman", Times, serif;
}

.submitBtn:hover {
  background-color: black;
  border: 1px solid black;
  color: #d3a52e;
}

#bookForm {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 25rem;
  align-content: center;
  margin: 0 3rem;
  align-items: center;
}

.addBookForm {
  background-color: #32362d;
  border: 1px solid #32362d;
  color: #d3a52e;
  border-radius: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#bookForm label {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 1rem;
  justify-content: center;
}

#bookForm input {
  width: 15rem;
  border: none;
  border-bottom: 1px solid #d3a52e;
  background-color: #32362d;
  color: white;
}

#bookForm textarea {
  border: none;
  border-bottom: 1px solid #d3a52e;
  background-color: #32362d;
  color: white;
  width: 15rem;
}

#navbar {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 0;
  width: 100%;
  position: fixed;
  left: 0;
  top: 0;
  margin: 0;
}

.menu {
  display: flex;
  justify-content: center;
  padding: 1rem;
  background-color: black;
}

.heading {
  text-align: center;
  background-color: #32362d;
  position: relative;
  margin: 0;
  padding: 1rem;
  left: 0;
  color: white;
}

#navbar li {
  list-style-type: none;
  padding: 0 1rem;
  margin: 0.5rem;
}

#navbar li a {
  text-decoration: none;
  color: white;
}

#navbar li a:hover {
  color: #d3a52e;
}

.allBooks {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 1rem;
  padding: 0;
  margin-bottom: 8rem;
}

.bookCard {
  list-style-type: none;
  border: 1px solid black;
  background-color: black;
  border-radius: 2rem;
  padding: 1rem;
  margin: 1rem;
  color: white;
}

button {
  background-color: #d3a52e;
  color: black;
  border: 1px solid #d3a52e;
  border-radius: 0.5rem;
  padding: 0.5rem;
  margin: 0.3rem;
  margin-top: 1rem;
  font-family: Georgia, "Times New Roman", Times, serif;
}

button:hover {
  background-color: #32362d;
  border: 1px solid #32362d;
  color: #d3a52e;
}

.errorMessage {
  color: coral;
}

.emptyList {
  grid-column: span 4;
  color: black;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #32362d;
  color: white;
  text-align: center;
  padding: 1rem;
  margin: 0;
}
